.screen1 {
  height: 100vh;
  background-color: rgb(15, 15, 15);
}
.screen2 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  /* display: flex; */
  background-size: cover;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(26, 97, 233);
  background-image: url("https://readifly.sfo3.cdn.digitaloceanspaces.com/readifly/screen3-bg.jpeg");
}
@media (max-width: 767px) {
  .screen1 {
    padding: 0% 0% 0% 0%;
  }
  .logo {
    width: 55px;
    height: 55px;
  }
  .screen2 {
    background-image: url("https://readifly.sfo3.cdn.digitaloceanspaces.com/readifly/screen3-bg.jpeg");
    background-position: right center;
    -webkit-box-pack: end;
    /* display: flex; */

    justify-content: flex-end;
  }
}
.screen3 {
  height: 100vh;
  width: 100%;
  background-color: black;
  /* position: relative;
  display: flex;
  background-size: cover;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: rgb(26, 97, 233);
  background-image: url("/screen2-bg.jpeg"); */
}
.header {
  padding: 2% 15% 0% 15%;
}
.tagline {
  font-size: 90px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 10% 15% 0% 15%;
  text-align: center;
  color: white;
  line-height: 107px;
}
.tagline2 {
  font-size: 90px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 10% 15% 0% 15%;
  text-align: left;
  color: white;
  line-height: 107px;
}
.tagline3 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding: 3% 15% 0% 15%;
  text-align: left;
  color: white;
  line-height: 30px;
}
.description {
  font-size: 20px;
  font-weight: 300;
  padding: 3% 50% 0% 15%;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
}
.subTagline {
  font-size: 30px;
  font-weight: 600;
  padding: 4% 15% 0% 15%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  /* line-height: 107px; */
}

@media (max-width: 767px) {
  .header {
    padding: 10% 15% 0% 15%;
  }
  .description {
    font-size: 15px !important;
    font-weight: 300 !important;
    padding: 5% 10% 0% 10%;
    font-family: "Poppins", sans-serif;
    text-align: left !important;
  }
  .tagline {
    padding: 10% 10% 5% 10%;
    text-align: left;
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 55px;
  }

  .tagline2 {
    font-size: 55px;
    padding: 20% 10% 0% 10%;
    text-align: left;
    color: white;
    line-height: 55px;
  }
  .tagline3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 10% 10% 0% 10%;
    text-align: left;
    color: white;
    line-height: 30px;
  }

  .subTagline {
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 4% 10% 0% 10%;
    font-family: "Poppins", sans-serif;
    text-align: left !important;

    /* line-height: 107px; */
  }
}

.domains {
  padding: 3% 15% 3% 15%;
  text-align: center;
  border-radius: 40px;
  /* background-color: white; */
}

.footer {
  /* height: 10vh; */
  padding: 2% 15% 2% 15%;
  background-color: rgb(22, 21, 23);
}
@media (max-width: 767px) {
  .footer {
    padding: 0% 5% 0% 5%;
  }
  .hiring {
    visibility: hidden;
    display: none;
  }
  .domains {
    padding: 10% 15% 10% 15%;
    text-align: center;
    border-radius: 40px;
  }
  .copyright {
    font-size: 15px;
    text-align: center !important;
    padding: 10px 0px 10px 0px;
  }
  .name {
    font-size: 30px !important;
    padding: 15px 0px 20px 15px !important;
    line-height: 20px;
  }
  .contact {
    font-size: 15px !important;
    text-align: center !important;
    padding: 10px 0px 0px 0px !important;
  }
}
.copyright {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: right;
  color: rgb(218 216 216);
}
.name {
  font-size: 50px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 25px 0px 0px 15px;
  text-align: left !important;
  color: white;
  line-height: 30px;
}
.hiring {
  color: white;
  font-weight: 600;
  padding: 25px 0px 0px 15px !important;
  font-family: "Poppins", sans-serif;
}
.contact {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-align: left;
  color: rgb(218 216 216);
}
